<!doctype html>
<html>
<title>test</title>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles/clndr.css">
  <script src="json2.js"></script>
  <script src="jquery-2.1.4.min.js"></script>
  <script src="underscore-min.js"></script>
  <script src= "moment-2.8.3.js"></script>
  <script src="../src/clndr.js"></script>
  <script src="site.js"></script>
</head>
<body>
        <h1 class="banner-text">CLNDR.js ~ A jQuery Calendar Plugin</h1>
		$('#calendar').clndr({
		constraints: {
		startDate: '2015-05-06',
		endDate: '2015-07-16'
		}
})

 <div class="container">
    <div class="cal1">
    </div>
    <div class="cal2">

      <script type="text/template" id="template-calendar">
        <div class="clndr-controls">
          <div class="clndr-previous-button">&lsaquo;</div>
          <div class="month"><%= month %></div>
          <div class="clndr-next-button">&rsaquo;</div>
        </div>
        <div class="clndr-grid">
          <div class="days-of-the-week">
            <% _.each(daysOfTheWeek, function(day) { %>
              <div class="header-day"><%= day %></div>
            <% }); %>
            <div class="days">
              <% _.each(days, function(day) { %>
                <div class="<%= day.classes %>"><%= day.day %></div>
              <% }); %>
            </div>
          </div>
        </div>
        <div class="clndr-today-button">Today</div>
      </script>

    </div>
  </div>


</body>
</html>